streamlit
pandas
numpy
joblib
xgboost
huggingface_hub
sklearn

# --- Create the Dockerfile ---
%%writefile Predictive_Maintenance/Dockerfile
# Use lightweight python image
FROM python:3.9-slim

# Set working directory
WORKDIR /app

# Copy files
COPY . /app

# Install dependencies
RUN pip install --no-cache-dir -r requirements.txt

# Streamlit uses port 8501 by default
EXPOSE 8501

# Run the application
CMD ["streamlit", "run", "app.py", "--server.port=8501", "--server.address=0.0.0.0"]
